# CONFIG_BLK_DEV_IO_TRACE is not set
# CONFIG_CPU_FREQ_DEFAULT_GOV_ONDEMAND is not set
# CONFIG_CPU_FREQ_GOV_CONSERVATIVE is not set
# CONFIG_CPU_FREQ_GOV_POWERSAVE is not set
# CONFIG_CPU_FREQ_GOV_SCHEDUTIL is not set
# CONFIG_CPU_FREQ_GOV_USERSPACE is not set
# CONFIG_FTRACE is not set
# CONFIG_FTRACE_SYSCALLS is not set
# CONFIG_FUNCTION_PROFILER is not set
# CONFIG_IR_GPIO_TX is not set
# CONFIG_KDB_KEYBOARD is not set
# CONFIG_KGDB is not set
# CONFIG_KGDB_KDB is not set
# CONFIG_LEDS_TRIGGER_CPU is not set
# CONFIG_NET_ACT_CTINFO is not set
# CONFIG_SCHED_TRACER is not set
# CONFIG_STACK_TRACER is not set
# CONFIG_KVM is not set
# CONFIG_VIRTUALIZATION is not set
# CONFIG_LATENCYTOP is not set
CONFIG_LOCALVERSION="-v8-16k-NTP"
CONFIG_IPV6=y
CONFIG_PPS_CLIENT_GPIO=y
# CONFIG_CONTEXT_TRACKING_USER_FORCE is not set
CONFIG_CPU_FREQ_DEFAULT_GOV_PERFORMANCE=y
CONFIG_HZ_1000=y
CONFIG_KPROBES=y
CONFIG_MAGIC_SYSRQ=y
# CONFIG_NO_HZ_IDLE is not set
CONFIG_NTP_PPS=y
CONFIG_PREEMPT_RT=y
CONFIG_RELAY=y
CONFIG_VIRT_CPU_ACCOUNTING_GEN=y
