CONFIG_LOCALVERSION="-v8-16k-NTP"
CONFIG_PPS_CLIENT_GPIO=y
# CONFIG_CONTEXT_TRACKING_USER_FORCE is not set
CONFIG_CPU_FREQ_DEFAULT_GOV_PERFORMANCE=y
CONFIG_DEBUG_FS=y
CONFIG_HZ_1000=y
CONFIG_KPROBES=y
CONFIG_MAGIC_SYSRQ=y
CONFIG_NTP_PPS=y
CONFIG_PREEMPT_RT=y
CONFIG_RELAY=y
CONFIG_TRACER_SNAPSHOT=y
CONFIG_VIRT_CPU_ACCOUNTING_GEN=y
